.body {
  font-family: monospace;
}

.date {
  text-align: center;
  font-size: 1.5em;
  padding: 1.25em 0;
  background-color: #93E6D4;
  margin-bottom: 5px;
}

a {
  text-decoration: none;
} 

.bigbox {
  padding: 10px;
  color: black;
  background-color: #DE8AED;
  margin-bottom: 5px;
}

.title {
  clear: both;
  font-size: 1.5em;
  text-align: center;
  padding: 5px 0px 15px 0;
}

.price {
  width: 25%;
  float: left;
}

.time { 
  float: right;
}

.price-time {
  font-size: 18px;
  padding-bottom: 20px;
}

.description {
  padding: 0 15px 20px 15px;
  margin: auto;
  text-align: justify;
}