.body {
  font-family: monospace;
}

.date {
  text-align: center;
  font-size: 1.5em;
  padding: 1.25em 0;
  background-color: #93E6D4;
  margin-bottom: 5px;
}

a {
  text-decoration: none;
} 

.bigbox {
  padding: 10px;
  color: black;
  background-color: #DE8AED;
  margin-bottom: 5px;
}

.title {
  clear: both;
  font-size: 1.5em;
  text-align: center;
  padding: 15px 0px;
}

.price {
  width: 50%;
  float: left;
  font-size: 30px;
  line-height: 30px;
}

.time {
  float: right;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: black;
}

.description {
  padding: 0 15px 15px 15px;
  margin: auto;
  text-align: justify;
}